{% extends 'base.html' %}
{% block head %} {% endblock %}

{% block body %}

<div class="container ">

    <div class="row justify-content-center mb-3">
        <div class="col-md-4 col-lg-4 center border login m-auto">
           
                <div class="p-md-5">
                    <div class="row d-flex justify-content-center text-center">
                        <div class="col-3 ">
                                <svg height="70">
                                    <rect width="70" height="50" style="fill:#0B4B36" />
                                </svg>
                        </div>
                    </div>
                 
                    <form action="{{ url_for('signup') }}" class="signin-form" method="POST">
                        <div class="form-group mt-3">
                            <label class="form-control-placeholder main_color font-weight-bold" for="username">Username</label>
                            <input type="text"name="username" class="form-control" placeholder="Username" name="username" required>
                            
                        </div>
                        <div class="form-group mt-3">
                            <label class="form-control-placeholder main_color font-weight-bold" for="email">Email</label>
                            <input type="email" name="email" class="form-control"  placeholder="Email" name="email" required>
                            
                        </div>
                        <div class="form-group">
                            <label class="form-control-placeholder main_color font-weight-bold" for="password">Password</label>
                            <input id="password-field" type="password" class="form-control"  placeholder="Password" name="password"  required>
                            
                        </div>
                        <div class="form-group">
                            <label class="form-control-placeholder main_color font-weight-bold" for="conform_password">Confirm Password</label>
                            <input id="password-field" type="password" class="form-control"  placeholder="Confirm Password" 
                            name="confirm-pass" required>
                            
                        </div>
                        <div class="form-group ">
                            <button type="submit" class="form-control btn rounded submit px-3 main_back text-white">Sign
                                Up</button>
                        </div>

                       
                       
                    </form>
                   
                </div>
            
        </div>
    </div>
   
</div>




{% endblock %}